body{
    margin: 0;
    padding: 0;
    background: #eee;
    
}
.first-section {
    background: #1F2937; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 120px;
}
.header{
    padding-top: 40px;
    padding-bottom: 95px;
    padding-left: 120px;
    padding-right: 120px;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    
}
.logo {
    font-size: 24px;
    color: #F9FAF8;
    margin: 0px; 
}
a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}
ul{
    display: flex;
    list-style-type: none;
    margin: 0; 
    padding: 0; 
    gap: 18px; 
    
}
.h-left .h-right{
    display: flex;
    align-items: center;
    gap: 16px;
    
}
.main-section{
    display: flex; 
    align-items: center;
    padding-left: 120px;
    padding-right: 120px;
}
.hero-title{
    font-size: 48px;
    color: #F9FAF8; 
    font-weight: bold;
}
.hero-text{
    color: #E5E7EB;
    font-size: 18px; 
    margin: 10px;
}
button{
    padding: 10px; 
    margin: 10px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 4px; 
    border: none; 
}
.main-right {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-left: 80px;
}
.second-section{
    padding-top: 20px;
    padding-bottom: 80px;
    padding-left: 80px;
    padding-right: 80px; 
    background: #eee;
    
}
.second-header{
    display: flex;
    font-size: 36px; 
    font-weight: bold; 
    padding: 20px;
    align-items: center; 
    justify-content: center;
}
.second-main{
    display: flex;
    align-items: center; 
    justify-content: center;
    padding-top: 30px;
}
.info-boxes{
    display: flex;
    gap: 80px;
}
.box{
    height: 150px;
    width: 150px;
    border-color: #3882F6;
    border-style: solid;
    border-radius: 25px;
}